
body {
    margin: 15%;
    width: auto;
    height: 100%;
    background-color: rgb(182, 35, 162);
    box-sizing: border-box;
    
}

.container {
    margin: 0 auto;
}
input{
    
    margin-left: 10%;
    font-size: 120px;
    color: rgb(255, 255, 255);
    width: 180px;
    background-color: rgb(58, 236, 22);
    border-radius: 5%;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btnNo{
    background-color: rgb(255, 0, 0);
}

h1{
    font-size: 90px;
    color: rgb(58, 236, 22);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}